.text-center{
  text-align: center;
}
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
.MuiInputBase-input.MuiFilledInput-input{
  width:100%;
}
.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl{
  width:100%;
}